body {
  background-color: #ddd;
}

.card {
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  /* padding: 2em; */
}
.card-borded {
  border: 2px solid #00a3ff;
}

.card-title-custom {
  text-transform: uppercase;
}

.font-red {
  color: darkred;
}

.card-img {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.img-title {
  margin: 4px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid darkred;
}

.img-value {
  margin: 4px;
  text-align: center;
  text-transform: uppercase;
}

.custom-file-control,
.form-control,
.is-focused .custom-file-control,
.is-focused .form-control,
.custom-file-control:read-only,
.form-control:read-only {
  background-image: linear-gradient(0deg, #960000 3px, rgba(0, 150, 136, 0) 0),
    linear-gradient(0deg, rgba(150, 0, 0, 0.5) 2px, transparent 0);
}

.custom-file-control:disabled,
.form-control:disabled,
.form-control[readonly],
[readonly].custom-file-control {
  background-color: transparent;
}

.border-red {
  border-bottom: 2px solid rgba(150, 0, 0, 0.5);
}
.border-all {
  border: 2px solid rgba(150, 0, 0, 0.5);
  background-image: linear-gradient(
      0deg,
      transparent 3px,
      rgba(0, 150, 136, 0) 0
    ),
    linear-gradient(0deg, transparent 2px, transparent 0);
}
